{{#each this}}

<div class="col-lg-2" id="movie--{{@index}}">
      <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="Card image cap">
      <div class="card-block">
          <h4 class="card-title">{{title}}</h4>
          <p class="card-text">{{release_date}}</p>
          <p class="card-text">Actors</p>
          <p class="card-text">Rating</p>
      </div>
</div>

{{/each}}